:root {
    --beige: rgb(246, 234, 212);
    --darker-beige: rgb(121, 113, 98);
    --kaki: rgb(162, 165, 149);
    --darker-kaki: rgb(98, 100, 89);
    --brown: rgb(136, 112, 72);
    --darker-brown: rgb(83, 68, 40);
}
