.master-container {
    background-color: rgb(255, 117, 232);
}

.header-bar {
    background-color: yellowgreen;
}

.nav-bar {
    background-color: goldenrod;
}

.main-introduction {
    background-color: yellow;
}

.top-projects {
    background-color: aqua;
}

.project {
    background-color: blueviolet;
}

.project-text {
    background-color: greenyellow;
}

.project-button {
    background-color: black;
}

.button-row {
    background-color: peachpuff;
}

.see-more-button {
    background-color: black;
}

.cv-short {
    background-color: red;
}

.footer {
    background-color: azure;
}
