* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: black;
}

a {
    text-decoration: none;
    color: grey;
    font-weight: bolder;
}

ul {
    list-style: none;
}

html,
body {
    font-size: 62, 5%;
}
