.master-container {
    /* Might have to remove height if bugged!!! */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.5rem;
}

.logo {
    max-width: 3.2rem;
    align-items: center;
    margin-right: 1rem;
}

.header-text {
    font-size: 2.5rem;
}

.nav-bar {
    margin-bottom: 3rem;
}

.nav-bar-elements-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-element {
    width: auto;
    text-align: center;
}

.all-projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
    flex: 0 0 25%;
}

.project-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.project-button {
    text-align: right;
    width: auto;
    margin-right: 0.5rem;
    margin-left: auto;
}

.see-more-button {
    width: 5rem;
    line-height: 1.5rem;
    margin-right: 2.5rem;
    text-align: center;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-introduction,
.cv-short,
.top-projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 1.25rem;
    margin-bottom: 2rem;
}

.cv-short-title,
.cv-short-text {
    margin-bottom: 0.5rem;
}

.footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: auto;
    padding-bottom: 3rem;
}

.footer-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
}

.footer-text {
    margin-top: 0.5rem;
}

.contact-text {
    line-height: 1.5rem;
}

.portfolio-container,
.cv-container {
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
}

.about-me-text, .competence-list {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
